# Dependencies
node_modules

# Build output
dist
release
memo
# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
venv
.venv
env
.env
.document

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db
